.card {
    display: inline-block;
    flex-wrap: 3,1fr;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: white;

  }
.card-header{
    background-color: white;
}
.cardItem{
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    

  }
 .card-footer a{
    text-decoration: none;
    display: flex;
    padding: 8px 12px;
    background-color: rgb(3, 35, 88);
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

 }
 .card-footer{
    background-color: white;
 }

.card img{
    width: 250px;
    height: 250px;
}


.card:hover{
    box-shadow: 0 0 5px 1px #ccc;
}
.card-title{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: white;
  }
.card-text{
    font-size: 16px;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    padding-top: 5px;
    text-decoration: solid;
    font-weight: bold;
    
    
    
}
.card-text-price{
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    padding-top: 5px;
    
}
.card-text-stock{
    font-size: 11px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    padding-top: 5px;
}
.button-container{
    background-color: rgb(3, 35, 88);
    border: 2px solid rgb(3, 35, 88);;
    min-width: 40px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.counter-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;

}

.counter-controls > * {
    margin: 0 10px; 
  }
  .button-container button {
    display: block;
    width: 100%;
    margin: auto;
  }