.cart-title{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.option {
    
    padding: 0.5rem 1rem;
    background-color: rgb(3, 35, 88);
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
  }
  
  .button-cart{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(3, 35, 88);
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cart-items-style {
    margin-bottom: 1rem;
  }
  