.container {
    width: 400px;
    margin: 0 auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .Label {
    margin-bottom: 20px;
    font-size: medium;
    font-style: italic;
    margin-top: 10px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .button {
    background-color:rgb(3, 35, 88);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .button:hover {
    background-color: #0251a5;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .button:disabled:hover {
    background-color: #ccc;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .success {
    color: green;
    margin-top: 5px;
  }
